version: '3'

networks:
  laravel:

volumes:
  dbdata:
    driver: local

services:
  app:
    build:
      context: ./dockerfiles
      dockerfile: nginx.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - php
      - redis
      - pg
    networks:
      - laravel

  pg:
    image: postgres:13
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: canban
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      SERVICE_TAGS: dev
      SERVICE_NAME: postgres
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - laravel

  php:
    build:
      context: ./dockerfiles
      dockerfile: php.root.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    ports:
      - "9000:9000"
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - laravel

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel

  composer:
    build:
      context: ./dockerfiles
      dockerfile: php.root.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ./src:/var/www/html
    depends_on:
      - php
    entrypoint: [ 'composer', '--ignore-platform-reqs' ]
    networks:
      - laravel

  npm:
    image: node:lts-alpine
    volumes:
      - ./src:/var/www/html
    ports:
      - "3000:3000"
      - "3001:3001"
    working_dir: /var/www/html
    entrypoint: [ 'npm' ]
    networks:
      - laravel

  vue:
    image: node:lts-alpine
    volumes:
      - ./src:/var/www/html
    ports:
      - "5173:5173"
    working_dir: /var/www/html/vue-app
    environment:
      - NODE_ENV=${NODE_ENV:-development}
    command: >
      sh -c "
      if [ \"$$NODE_ENV\" = \"production\" ]; then
        npm run build && npm run preview -- --host
      else
        npm run dev -- --host
      fi
      "
    restart: unless-stopped
    networks:
      - laravel

  artisan:
    build:
      context: ./dockerfiles
      dockerfile: php.root.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - pg
    entrypoint: [ 'php', '/var/www/html/artisan' ]
    networks:
      - laravel
